<template>
  <div
    ref="contextMenu"
    class="planner-context-menu"
    :style="plannerContextStyle"
  >
    <div
      ref="contextArrow"
      class="context-arrow"
      :style="plannerContextArrowStyle"
    ></div>
    <div class="context-items">
      <div
        v-for="action in actions"
        :key="action.type"
        class="context-item"
        @click="onClick(action.type)"
      >
        {{ action.label }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    event: {
      type: Object,
      required: true,
    },

    top: {
      type: Number,
      default: 0,
    },

    left: {
      type: Number,
      default: 0,
    },

    bottom: {
      type: Number,
      default: 0,
    },

    right: {
      type: Number,
      default: 0,
    },
  },

  data() {
    return {
      bound: {},
      contextHeight: 0,
      contextWidth: 0,

      arrowWidth: 0,

      actions: [
        { label: 'แก้ไข', type: 'edit-event' },
        { label: 'ลบ', type: 'delete-event' },
      ],
    }
  },

  computed: {
    plannerContextStyle() {
      const top = this.top - this.contextHeight - 30
      const left = this.left - this.contextWidth / 2

      const result = {}

      if (top < 0) {
        result.top = this.bottom + 30 + 'px'
      } else {
        result.top = top + 'px'
      }

      if (left < 0) {
        result.left = this.left + 'px'
      } else if (left + this.contextWidth > document.body.clientWidth) {
        result.left = this.right - this.contextWidth + 'px'
      } else {
        result.left = this.left - this.contextWidth / 2 + 'px'
      }

      return result
    },

    plannerContextArrowStyle() {
      const top = this.top - this.contextHeight - 30
      const left = this.left - this.contextWidth / 2

      const result = {}

      if (left < 0) {
        result.left = '20px'
      } else if (left + this.contextWidth > document.body.clientWidth) {
        result.right = '0px'
      } else {
        result.left = '50%'
      }

      if (top < 0) {
        result.top = '-10px'
      }

      result.bottom = '-10px'

      return result
    },
  },

  mounted() {
    this.bound = this.$refs.contextMenu.getBoundingClientRect()
    this.contextHeight = this.$refs.contextMenu.offsetHeight
    this.contextWidth = this.$refs.contextMenu.offsetWidth
    this.arrowWidth = this.$refs.contextArrow.offsetWidth
  },

  methods: {
    onClick(type) {
      if (type === 'edit-event') {
        const plannerId = this.$route.params.planner_id
        const activitySeq = this.event.seq
        this.$router.push(
          `/planners/${plannerId}/activities/${activitySeq}/edit`
        )
        return
      }

      this.$store.dispatch('updateEventAction', {
        type,
        id: this.event.seq,
      })
      this.$emit('close')
    },
  },
}
</script>

<style lang="scss" scoped>
.planner-context-menu {
  position: fixed;
  padding: 10px;
  width: 150px;
  background-color: white;
  box-shadow: 0 5px black;
  border-radius: 10px;
  z-index: 10;

  .context-arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    transform: translateX(-50%) rotateZ(45deg);
    z-index: 9;
  }

  .context-items {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .context-item {
      text-align: center;
      cursor: pointer;

      &:not(:first-child) {
        border-top: 1px solid black;
      }
    }
  }
}
</style>
