<template>
  <div>
    <div
      ref="plannerEvent"
      class="planner-event"
      :style="getEventCardStyle"
      @click="$emit('show', data)"
    >
      <div style="font-weight: bold">{{ data.title }}</div>
      <div>
        {{ $date.format(data.start_time, 'HH:mm') }} -
        {{ $date.format(data.end_time, 'HH:mm') }}
      </div>
    </div>

    <transition name="context">
      <PlannerContextMenu
        v-if="contextActive"
        ref="contextMenu"
        :event="data"
        :top="contextTop"
        :left="contextLeft"
        :bottom="contextBottom"
        :right="contextRight"
        @close="contextActive = false"
      />
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: () => ({}),
    },
  },

  data() {
    return {
      contextTop: 0,
      contextLeft: 0,
      contextBottom: 0,
      contextRight: 0,
      contextActive: false,

      times: [
        this.data.start_time.getHours(),
        this.data.start_time.getMinutes(),
        this.data.end_time.getHours(),
        this.data.end_time.getMinutes(),
      ],
    }
  },

  computed: {
    getEventCardStyle() {
      return {
        top: `${this.data.start}px`,
        left: `${80 + (this.data.left || 0)}px`,
        right: '20px',
        height: `${this.data.height}px`,
        backgroundColor: this.data.color,
      }
    },
  },

  mounted() {
    document.addEventListener('mousedown', this.onClickOutsideContextMenu)
    this.$refs.plannerEvent.addEventListener('contextmenu', this.onContextMenu)
  },

  beforeDestroy() {
    document.removeEventListener('mousedown', this.onClickOutsideContextMenu)
    this.$refs.plannerEvent.removeEventListener(
      'contextmenu',
      this.onContextMenu
    )
  },

  methods: {
    onContextMenu(e) {
      e.preventDefault()

      if (this.$store.state.planner.finished) return

      const bound = this.$refs.plannerEvent.getBoundingClientRect()
      this.contextTop = bound.top
      this.contextLeft = e.clientX
      this.contextBottom = bound.bottom
      this.contextRight = bound.right

      this.contextActive = true
    },

    onClickOutsideContextMenu(e) {
      if (
        this.$refs.contextMenu &&
        !this.$refs.contextMenu.$el.contains(e.target)
      ) {
        this.contextActive = false
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.planner-event {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.context-enter-active,
.context-leave-active {
  transition: transform 0.2s ease;
}

.context-enter,
.context-leave-to {
  transform: rotateX(90deg);
}
</style>
