<template>
  <div class="color-input">
    <input ref="input" v-model="color" type="color" />
    <div class="preview" @click="pickColor">
      <div class="color" :style="{ backgroundColor: value }"></div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: '#fff',
    },
  },

  data() {
    return {
      color: this.value,
    }
  },

  watch: {
    color(val) {
      this.$emit('input', val)
    },
  },

  methods: {
    pickColor() {
      this.$refs.input.click()
    },
  },
}
</script>

<style lang="scss" scoped>
.color-input {
  position: relative;

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
  }

  .preview {
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 10px;
    // background-color: black;
    cursor: pointer;

    .color {
      width: 30px;
      height: 30px;
      border: 3px solid black;
      border-radius: 100%;
      cursor: pointer;
    }
  }
}
</style>
