<template>
  <div class="layout">
    <div class="title">สถิติทั้งหมด</div>
    <div class="container center">
      <div class="block" @click="showPersonnel()">สถิติบุคลากร</div>
      <div class="block" @click="showPerson()">สถิติบุคคล</div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    showPersonnel() {
      this.$router.push('/admin/statistics_hr/statistics-personnel')
    },
    showPerson() {
      this.$router.push('/admin/statistics_hr/statistics-person')
    },
  },
}
</script>

<style lang="scss" scoped>
.layout {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;
  color: white;
}

.center {
  margin: auto;
  padding: 10px;
}

.title {
  font-size: 24px;
  margin: 30px 50px 0 50px;
}

.container {
  width: 95%;
  height: 550px;
  background-color: #332263;
  border-radius: 12px;
}

.block {
  width: 95%;
  height: 40px;
  background-color: #4b3291;
  border-radius: 6px;
  padding: 10px;
  margin: 10px auto 10px auto;
  cursor: pointer;
}

.block:hover {
  background-color: #916bbf;
}
</style>
