<template>
  <div class="layout">
    <Calendar ref="calendar" style="margin: 20px auto" />
    <button @click="getValue">get</button>
  </div>
</template>

<script>
export default {
  role: 'arstarst',
  methods: {
    getValue() {
      console.log(this.$refs.calendar.getValue())
    },
  },
}
</script>
