<template>
  <div class="statistic-user">
    <div class="chart-zone">
      <div class="chart-detail">
        <h1 style="color: #212121">ค่าเฉลี่ยความพึงพอใจ/วันที่</h1>
        <div id="chart" ref="chart"></div>

        <div class="chart-detail-info">
          <p>ค่าเฉลี่ยความพึงพอใจ : {{ totalSatisfactionAvg }}</p>
          <p>จำนวนพนักงาน : {{ numberOfUsers }}</p>
          <p>จำนวนตารางเวลา : {{ numberOfPlanner }}</p>
        </div>
      </div>

      <div class="chart-calendar">
        <p>เลือกวันที่เพื่อดูสถิติ</p>
        <p>{{ start_date }} ถึง {{ end_date }}</p>
        <Calendar ref="calendar" />
        <button @click="getUserAvg"><p>ดูสถิติ</p></button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      userData: '',
      chartData: [],
      chartCategories: [],
      start_date: '',
      end_date: '',
      numberOfUsers: '',
      numberOfPlanner: '',
      totalSatisfactionAvg: '',
    }
  },

  watch: {},

  async created() {
    const dateObj = new Date()
    const day = dateObj.getUTCDate()
    const month = dateObj.getUTCMonth() + 1
    const year = dateObj.getUTCFullYear()
    this.start_date = year + '-' + month + '-' + '01'
    this.end_date = year + '-' + month + '-' + day

    try {
      const response = await this.$axios.post(
        '/v2/authority/summaryAll',
        {
          start_date: this.start_date + 'T00:00:00.00+07:00',
          end_date: this.end_date + 'T00:00:00.00+07:00',
        },
        {
          headers: {
            Authorization: this.$auth.strategy.token.get(),
          },
        }
      )
      this.userData = response.data
      const forUserData = this.userData.summary.detail

      forUserData.forEach((element) => {
        // Date
        const dateNotime = element.date.split('T')
        dateNotime[0] = dateNotime[0].split('-')
        const dateOnlyDays = dateNotime[0][2]

        // Satisfaction_avg
        this.chartData.push(element.satisfaction_avg)
        this.chartCategories.push(dateOnlyDays)
      })

      this.numberOfUsers = this.userData.summary.user_count
      this.numberOfPlanner = this.userData.summary.planner_count
      this.totalSatisfactionAvg = this.userData.summary.total_satisfaction_avg

      const options = {
        chart: {
          type: 'line',
        },
        series: [
          {
            name: 'Satisfaction',
            data: this.chartData,
          },
        ],
        xaxis: {
          categories: this.chartCategories,
        },
      }

      const chart = new this.$apexchart(this.$refs.chart, options)
      chart.render()
    } catch (error) {}
  },

  methods: {
    async getUserAvg() {
      const selectDate = await this.$refs.calendar.getValue()
      const startDate = selectDate.startDate
      const endDate = selectDate.endDate

      if (startDate === null || endDate === null) {
        alert('กรุณาเลือกวันที่เพื่อดูสถิติ')
      } else {
        this.start_date = this.$date.format(startDate, 'dd/MM/yyyy')
        this.end_date = this.$date.format(endDate, 'dd/MM/yyyy')

        try {
          const response = await this.$axios.post(
            '/v2/authority/summaryAll',
            {
              start_date: this.$formatApi(startDate),
              end_date: this.$formatApi(endDate),
            },
            {
              headers: {
                Authorization: this.$auth.strategy.token.get(),
              },
            }
          )
          this.userData = response.data
          this.chartData = []
          this.chartCategories = []
          this.numberOfUsers = this.userData.summary.user_count
          this.numberOfPlanner = this.userData.summary.planner_count
          this.totalSatisfactionAvg =
            this.userData.summary.total_satisfaction_avg

          console.log(this.userData)

          const forUserData = this.userData.summary.detail
          forUserData.forEach((element) => {
            // Date
            const dateNotime = element.date.split('T')
            dateNotime[0] = dateNotime[0].split('-')
            const dateOnlyDays = dateNotime[0][2]

            // Satisfaction_avg
            this.chartData.push(element.satisfaction_avg)
            this.chartCategories.push(dateOnlyDays)
          })

          const options = {
            chart: {
              type: 'line',
            },
            series: [
              {
                name: 'Satisfaction',
                data: this.chartData,
              },
            ],
            xaxis: {
              categories: this.chartCategories,
            },
          }

          this.$refs.chart.innerHTML = ''

          const chart = new this.$apexchart(this.$refs.chart, options)
          chart.render()
        } catch (error) {}
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.statistic-user {
  padding: 2% 60px;
  bottom: 0;
}

h1 {
  text-align: center;
  color: white;
  margin: 0 0 60px 0;
}

.chart-zone {
  display: flex;
  justify-content: space-around;
  background: #ffd595;
  border-radius: 20px;
  padding: 50px 35px;
  margin: 0px auto;
}

.chart-calendar {
  justify-content: center;
  width: 600px;
  padding: 30px 60px;
  background: #949fea;
  border-radius: 12px;

  p {
    text-align: center;
    font-size: 20px;
    color: #fff;
  }

  button {
    margin-top: 20px;
    width: 100%;

    border-radius: 10px;
    background: #ffa500;
    color: #ffd595;

    p {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.chart-detail {
  #chart {
    position: relative;
    width: 750px;
    background-color: #fff;
    border-radius: 12px;
    padding: 10px;
  }
  .chart-detail-info {
    align-items: center;
    width: 100%;
    padding: 30px 20px;
    margin-top: 20px;

    p {
      text-align: center;
      font-size: 24px;
      color: #212121;
    }
  }
}
</style>
