<template>
  <nuxt-child
    v-if="!$fetchState.pending && $store.state.planner.planner_id > 0"
  />
</template>

<script>
export default {
  fetchOnServer: false,

  async fetch() {
    await this.$store.dispatch(
      'fetchPlanner',
      parseInt(this.$route.params.planner_id)
    )
  },
}
</script>
