<template>
  <div class="layout background">
    <section class="section">
      <h1>สร้างตารางประจำวัน</h1>
      <div class="form-container">
        <div class="date">
          <p>วันที่</p>
          <input v-model="date" type="date" :min="min" />
        </div>
        <div>
          <p>รายละเอียด</p>
          <textarea v-model="description" class="description"></textarea>
        </div>
      </div>
      <button class="button shadow" @click="addPlanner">➕ เพิ่ม</button>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    const now = new Date()
    return {
      date: this.$date.format(now, 'yyyy-MM-dd'),
      min: this.$date.format(now, 'yyyy-MM-dd'),
      description: '',
    }
  },
  methods: {
    // eslint-disable-next-line require-await
    async addPlanner() {
      if (this.date === '') {
        alert('กรุณากรอกวันที่')
      } else {
        try {
          const date = this.$date.startOfDay(new Date(this.date))

          await this.$axios.post(
            'v2/planner/create',
            {
              date: this.$formatApi(date),
              description: this.description,
            },
            {
              headers: {
                Authorization: this.$auth.strategy.token.get(),
              },
            }
          )
          this.$router.push('/planners')
          alert('เพิ่มแพลนเนอร์สำเร็จ')
        } catch (error) {
          alert('เกิดข้อผิดพลาด')
          location.reload()
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.background {
  background-color: #22194d;
}

.section {
  display: grid;
  padding-top: 3%;
  justify-items: center;

  h1 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .form-container {
    width: 100%;
    max-width: 600px;
    background-color: #76b68f;
    border-radius: 10px;
    padding: 10px 70px 20px 70px;

    p {
      font-size: 16px;
      font-weight: bold;
      color: white;
      margin: 5px 0;
    }

    input {
      width: 100%;
      padding: 8px 6px;
      border: none;
      border-radius: 5px;
    }

    .description {
      width: 100%;
      min-height: 150px;
      padding: 8px 6px;
      border: none;
      border-radius: 5px;
      resize: vertical;
    }
  }
}

.button {
  margin: 40px;
  background: #0e6fa5;
  padding: 3px 15px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  box-shadow: 0 10px #005889;
}

.button:active {
  background: #0e6fa5;
  box-shadow: 0 5px #005889;
  transform: translateY(5px);
}

.button:hover {
  cursor: pointer;
}
</style>
