<template>
  <div v-if="!$fetchState.pending" class="layout">
    <div class="header">
      <h2>แพลนเนอร์ทั้งหมด</h2>

      <div class="add-planner-buttons">
        <div id="add-btn" @click="onClick('create-planner')">
          <span class="material-icons"> library_add </span>
          <p>เพิ่มตารางประจำวัน</p>
        </div>

        <div id="sort-btn" @click="onClick('see-statistic')">
          <span class="material-icons"> visibility </span>
          <p>ดูสถิติรวม</p>
        </div>
      </div>
    </div>

    <div
      v-if="
        plannerData.future.length > 0 ||
        plannerData.past.length > 0 ||
        plannerData.today.planner_id > 0
      "
    >
      <div v-if="plannerData.today.planner_id > 0" class="planners-wrapper">
        <p class="planners-wrapper-title">วันนี้</p>
        <div class="planners">
          <Card :data="plannerData.today" />
        </div>
      </div>

      <div v-if="plannerData.future.length > 0" class="planners-wrapper">
        <p class="planners-wrapper-title">อนาคต</p>
        <div class="planners">
          <Card
            v-for="planner in plannerData.future"
            :key="planner.planned_id"
            :data="planner"
          />
        </div>
      </div>

      <div v-if="plannerData.past.length > 0" class="planners-wrapper">
        <p class="planners-wrapper-title">ผ่านมาแล้ว</p>
        <div class="planners">
          <Card
            v-for="planner in plannerData.past"
            :key="planner.planned_id"
            :data="planner"
          />
        </div>
      </div>
    </div>

    <div
      v-else
      class="planners text-center"
      style="
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: white;
        font-size: 18px;
      "
    >
      <img
        :src="require('@/assets/images/note.png')"
        style="
          transform: scale(0.9);
          width: 100%;
          max-width: 200px;
          margin: 70px auto 0 auto;
        "
      />
      <div style="font-size: 14px; margin-bottom: 70px">
        เพิ่มแพลนเนอร์ <br />
        โดยกดที่ 'เพิ่มตารางประจำวัน'
      </div>
    </div>
  </div>
</template>

<script>
export default {
  fetchOnServer: false,

  data() {
    return {
      now: this.$date.startOfToday().getTime(),
      plannerData: {
        future: [],
        past: [],
        today: {},
      },
    }
  },

  async fetch() {
    try {
      const { data: response } = await this.$axios.post(
        'v2/planner/getAllByUser',
        {
          headers: {
            Authorization: this.$auth.strategy.token.get(),
          },
        }
      )

      const planner = response.planner

      this.plannerData = {
        future: planner.future.map((e) => this.mapPlanner(e)),
        past: planner.past.map((e) => this.mapPlanner(e)),
        today: this.mapPlanner(planner.today),
      }
    } catch (error) {
      console.log(error)
    }
  },

  methods: {
    onClick(type) {
      if (type === 'create-planner') {
        this.$router.push(`/planners/create`)
      } else if (type === 'see-statistic') {
        this.$router.push(`/statistics`)
      }
    },

    mapPlanner(planner) {
      const date = this.$date.startOfDay(new Date(planner.date))

      const time = date.getTime()

      planner.date = this.$thFormat(date)

      if (time === this.now) {
        planner.primaryColor = '#6373CE'
        planner.secondaryColor = '#8896E5'
      } else if (time < this.now) {
        planner.primaryColor = '#3AAE54'
        planner.secondaryColor = '#7AE592'
      } else {
        planner.primaryColor = '#AC61C7'
        planner.secondaryColor = '#AE7CBF'
      }

      return planner
    },
  },
}
</script>

<style lang="scss" scoped>
.layout {
  margin: auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    color: #fff;
    padding-left: 10px;
  }

  .add-planner-buttons {
    display: flex;
    align-items: center;
    gap: 10px;

    #add-btn {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
      color: #fff;
      margin: 0 20px;
    }

    #add-btn:hover {
      color: #fd8825;
    }

    #sort-btn {
      cursor: pointer;
      display: flex;
      gap: 10px;
      align-items: center;
      color: #fff;
      margin: 0 0 0 10px;
    }

    #sort-btn:hover {
      color: #fd8825;
    }
  }
}

@media screen and (max-width: 630px) {
  .header {
    flex-direction: column;
  }
}

.planners-wrapper {
  margin-bottom: 20px;
  padding: 30px;
  background-color: #332263;
  border-radius: 20px;

  .planners-wrapper-title {
    margin: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
  }
}

.planners {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  height: 100%;
}

@media screen and (max-width: 1025px) {
  .planners {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 651px) {
  .planners {
    grid-template-columns: 1fr;
  }
}

.button {
  margin: 40px;
  background: #38a817;
  padding: 3px 15px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  color: white;
  box-shadow: 0 10px #005889;
}

.button:active {
  background: #38a817;
  box-shadow: 0 5px #005889;
  transform: translateY(5px);
}

.button:hover {
  cursor: pointer;
}
</style>
