<template>
  <div class="layout justify-center items-center">
    <div class="dialog flex column">
      <p class="title m-0">ข้อความจากผู้สร้าง</p>

      <div class="message">
        <div class="arrow"></div>
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta vel
          optio aspernatur et rerum animi accusantium. Repudiandae vero
          accusamus veritatis iure amet ad natus quae, totam aut sint? Natus,
          dolores.
        </span>
      </div>

      <div class="flex justify-center" style="margin-top: 30px">
        <Button color="#0E6FA5" @click="$router.push(`/planners`)"
          >กลับหน้าหลัก</Button
        >
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.dialog {
  padding: 20px 50px;
  width: 100%;
  max-width: 600px;
  color: white;
  background-color: #1c1b20;
  border-radius: 6px;

  .title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  .message {
    position: relative;
    padding: 20px;
    min-height: 50px;
    color: black;
    font-weight: bold;
    background-color: white;
    border-radius: 6px;

    > span::before,
    > span::after {
      content: '"';
    }

    .arrow {
      position: absolute;
      bottom: 20px;
      left: -10px;
      width: 20px;
      height: 20px;
      background-color: white;
      transform: rotateZ(45deg);
    }
  }
}
</style>
