<template>
  <div class="layout">
    <h1 class="title">สถิติความพึงพอใจ</h1>
    <p class="date">{{ startDate }} ถึง {{ endDate }}</p>

    <img
      class="emoji-banner"
      :src="require(`@/assets/images/emoji/${bgImage}`)"
    />

    <div class="score-block">
      <h2>เปอร์เซ็นต์ความสุขเดือนนี้ : {{ avgScore.toFixed(2) }} %</h2>
      <h3 style="margin-bottom: 10px">
        เปอร์เซ็นต์ความสุขเดือนก่อน : {{ pastAvgScore.toFixed(2) }} %
      </h3>
      <h2>คุณกำลัง " {{ emojiTitle }} "</h2>
    </div>

    <p class="details">" {{ emojiDetail }} "</p>

    <h1 style="color: white; text-align: center">ภาพรวม</h1>
    <div class="chart-wrapper">
      <div ref="linearChart" class="chart linear"></div>
      <div ref="pieChart" class="chart pie"></div>
    </div>
  </div>
</template>

<script>
export default {
  fetchOnServer: false,

  data() {
    return {
      bgImage: 'happy.png',
      emojiTitle: 'สวัสดี! ดูเหมือนคุณจะยังไม่มีคะแนนความพึงพอใจนะ',
      emojiDetail: 'เพิ่มแพลนเนอร์เพื่อดูคะแนนความพึงพอใจ',
      avgScore: 0,
      pastAvgScore: 0,
      startDate: '',
      endDate: '',
    }
  },

  async fetch() {
    try {
      const startDate = this.$date.startOfMonth(new Date())
      const endDate = new Date()

      const { data: response } = await this.$axios.post(
        'v2/user/summary',
        {
          start_date: this.$formatApi(startDate),
          end_date: this.$formatApi(endDate),
        },
        {
          headers: {
            Authorization: this.$auth.strategy.token.get(),
          },
        }
      )

      console.log(response)

      this.startDate = this.$date.format(startDate, 'dd/MM/yyyy')
      this.endDate = this.$date.format(endDate, 'dd/MM/yyyy')

      this.avgScore = response.summary.this_month_happy
      this.pastAvgScore = response.summary.past_month_happy

      if (this.avgScore >= 80) {
        this.bgImage = 'happy.png'
        this.emojiTitle = 'ร่าเริง'
        this.emojiDetail = 'สุดยอด'
      } else if (this.avgScore >= 60) {
        this.bgImage = 'serenity.png'
        this.emojiTitle = 'สงบสุข'
        this.emojiDetail = 'คุณคือตัวอย่างของคำว่ามืออาชีพ!'
      } else if (this.avgScore >= 40) {
        this.bgImage = 'confusion.png'
        this.emojiTitle = 'สับสน'
        this.emojiDetail =
          'บางครั้งความผิดพลาดก็อาจเป็นความทรงจำที่ดีที่สุดในชีวิต'
      } else if (this.avgScore >= 20) {
        this.bgImage = 'shame.png'
        this.emojiTitle = 'เศร้าซึม'
        this.emojiDetail = 'คุณเก่งมากแล้ว!'
      }

      const summary = response.summary

      const xAxis = []
      const thisMonth = []

      for (let i = 1; i <= 31; i++) {
        xAxis.push(i)
      }

      for (let i = 0; i < summary.date_summary.length; i++) {
        thisMonth.push(summary.date_summary[i].happy_percent)
      }

      const linearChartOptions = {
        chart: {
          type: 'line',
          foreColor: 'white',
        },
        series: [
          {
            name: 'เดือนนี้',
            data: thisMonth,
          },
        ],
        xaxis: {
          categories: xAxis,
          title: {
            text: 'วันที่',
          },
        },
        yaxis: {
          decimalsInFloat: 0,
          max: 100,
          title: {
            text: 'เปอร์เซ็นต์ความสุข',
          },
        },
        tooltip: {
          theme: 'dark',
        },
      }

      const chart = new this.$apexchart(
        this.$refs.linearChart,
        linearChartOptions
      )
      chart.render()

      const categories = summary.category_summary
      const total = categories.reduce((p, v) => p + v.happy_percent, 0)

      const pieSeries = []
      const pieLabels = []

      for (let i = 0; i < categories.length; i++) {
        pieSeries.push((categories[i].happy_percent / total) * 100)
        pieLabels.push(categories[i].category)
      }

      const pieOptions = {
        chart: {
          type: 'donut',
          foreColor: 'white',
        },
        series: pieSeries,
        labels: pieLabels,
      }

      const pieChart = new this.$apexchart(this.$refs.pieChart, pieOptions)
      pieChart.render()
    } catch (e) {
      console.log(e)
    }
  },
}
</script>

<style lang="scss" scoped>
.title {
  margin: 60px 0 30px 0;
  color: white;
  text-align: center;
}

.date,
.details {
  margin: 0 0 30px 0;
  color: white;
  text-align: center;
  font-size: 18px;
}

.emoji-banner {
  display: block;
  margin: 0 auto;
  width: 330px;
  height: 330px;
  border: solid #fff 10px;
}

.score-block {
  margin: 60px 0 50px 0;

  h2,
  h3 {
    color: white;
    text-align: center;
    margin: 0;
  }
}

.chart-wrapper {
  display: flex;
  align-items: center;
  gap: 150px;
  margin: 0 auto 30px auto;
  padding: 0 20px;
  width: 100%;

  .chart {
    width: 100%;
    background-color: transparent;

    &.linear {
      flex-grow: 1;
    }

    &.pie {
      max-width: 500px;
    }
  }
}
</style>
