<template>
  <div
    class="button-wrapper"
    :style="buttonWrapperStyle"
    @click="$emit('click')"
  >
    <div class="button" :style="buttonStyle">
      <slot />
    </div>
    <div class="button-shadow" :style="buttonShadowStyle"></div>
  </div>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: 'black',
    },

    textColor: {
      type: String,
      default: 'white',
    },

    block: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      buttonWrapperStyle: {
        flexGrow: this.block ? 1 : 'unset',
        // display: this.block ? 'block' : 'inline-block',
        width: this.block ? '100%' : 'unset',
      },

      buttonStyle: {
        backgroundColor: this.color,
        color: this.textColor,
      },

      buttonShadowStyle: {
        backgroundColor: this.color,
      },
    }
  },
}
</script>

<style lang="scss" scoped>
.button-wrapper {
  position: relative;
  text-align: center;
  font-weight: 500;
  user-select: none;
  cursor: pointer;

  .button {
    position: relative;
    padding: 3px 20px;
    border-radius: 6px;
    z-index: 2;

    &:active {
      transform: translateY(5px);
    }
  }

  .button-shadow {
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    filter: brightness(0.8);
    z-index: 1;
  }
}
</style>
