<template>
  <div class="calendar">
    <div class="calendar-header">
      <span
        class="navigator mdi mdi-chevron-left"
        @click="navigateToPrevMonth"
      ></span>

      <span>{{ $date.format(now, 'MMMM, yyyy') }}</span>

      <span
        class="navigator mdi mdi-chevron-right"
        @click="navigateToNextMonth"
      ></span>
    </div>

    <div class="calendar-week">
      <div v-for="i in 7" :key="i">{{ weekDays[i - 1] }}</div>
    </div>

    <div class="calendar-days">
      <div
        v-for="(date, i) in dates"
        :key="i"
        class="day"
        :class="{
          'out-of-month': date.getMonth() !== now.getMonth(),
          active:
            (startDate && startDate.getTime() === date.getTime()) ||
            (endDate && endDate.getTime() === date.getTime()) ||
            (startDate &&
              endDate &&
              date.getTime() >= startDate.getTime() &&
              date.getTime() <= endDate.getTime()),
        }"
        @click="pin(date)"
      >
        {{ date.getDate() }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      now: this.$date.startOfMonth(new Date()),

      startDate: null,
      endDate: null,

      mode: 'month',
      weekDays: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
      dates: [],
    }
  },

  created() {
    this.calcEnv()
  },

  mounted() {
    // console.log(this.endOfMonth, this.firstDayOfWeek)
  },

  methods: {
    calcEnv() {
      this.dates = []

      const startWeekday = this.$date.startOfMonth(this.now).getDay()
      const prevMonth = this.$date.sub(this.now, { days: 1 })

      let dayCount = -startWeekday

      for (let i = 0; i < 42; i++) {
        if (dayCount < 0) {
          this.dates.push(
            this.$date.sub(prevMonth, { days: startWeekday - i - 1 })
          )
        } else {
          this.dates.push(this.$date.add(this.now, { days: dayCount }))
        }

        dayCount++
      }
    },

    navigateToNextMonth() {
      this.now = this.$date.add(this.now, { months: 1 })
      this.calcEnv()
    },

    navigateToPrevMonth() {
      this.now = this.$date.sub(this.now, { months: 1 })
      this.calcEnv()
    },

    pin(date) {
      if (this.startDate === null) {
        this.startDate = date
      } else if (this.endDate === null) {
        this.endDate = date
      } else {
        this.startDate = date
        this.endDate = null
      }

      if (
        this.startDate &&
        this.endDate &&
        this.startDate.getTime() > this.endDate.getTime()
      ) {
        const tmp = this.startDate
        this.startDate = this.endDate
        this.endDate = tmp
      }
    },

    getValue() {
      return {
        startDate: this.startDate,
        endDate: this.endDate,
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;

  .calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    color: white;
    background-color: rgb(0, 0, 0);

    .navigator {
      margin: 0 10px;
      font-size: 25px;
      cursor: pointer;
    }
  }

  .calendar-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    > div {
      text-align: center;
    }
  }

  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .day {
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1;
      border: 1px solid black;
      cursor: pointer;

      &.out-of-month {
        color: #afafaf;
      }

      &.active {
        font-size: 20px;
        color: white !important;
        background-color: orange;
      }
    }
  }
}
</style>
