<template>
  <div class="card">
    <div class="card-header" :style="bgPrimary" @click="onClick('see-planner')">
      <span>{{ data.description }}</span>
    </div>
    <div
      class="card-center"
      :style="bgSecondary"
      @click="onClick('see-planner')"
    ></div>

    <div class="card-footer">
      <div class="card-footer-title">
        <p>{{ data.date }}</p>
        <div class="more-btn">
          <button
            style="background: none; border: none; padding: 0; cursor: pointer"
            @click="showPopupmenu"
          >
            <span v-show="!showPopup" class="material-icons"> more_vert </span>
            <span v-show="showPopup" class="material-icons"> close </span>
          </button>

          <div v-show="showPopup">
            <div class="more-menu">
              <button
                class="editPlanner-btn"
                style="
                  background: none;
                  border: none;
                  padding: 0;
                  cursor: pointer;
                "
                @click="onClick('edit-planner')"
              >
                <span class="material-icons"> edit </span>
                <p>แก้ไขแพลนเนอร์</p>
              </button>

              <div
                style="
                  height: 2px;
                  width: 185px;
                  background: #807f7f;
                  margin: 10px 0;
                "
              ></div>

              <button
                class="deletePlanner-btn"
                style="
                  background: none;
                  border: none;
                  padding: 0;
                  cursor: pointer;
                "
                @click="onClick(`delete-planner-${data.planner_id}`)"
              >
                <span class="material-icons"> delete </span>
                <p>ลบแพลนเนอร์</p>
              </button>
            </div>
            <div class="more-menu-polygon"></div>
          </div>
        </div>
      </div>
      <div class="card-footer-title"></div>
    </div>

    <Dialog :dialog-type="`delete-planner-${data.planner_id}`">
      <div class="flex column">
        <h1 class="text-center m-0" style="margin-bottom: 10px; color: #e08383">
          ลบแพลนเนอร์
        </h1>
        <p class="text-center m-0">
          แน่ใจหรือไม่ว่าต้องการลบแพลนเนอร์ของ
          <span style="color: #ff8383; font-weight: bold">{{ data.date }}</span>
        </p>
      </div>
      <template #buttons>
        <Button color="#453982" block @click="$store.dispatch('closeDialog')"
          >ยกเลิก</Button
        >
        <Button color="red" block @click="deletePlanner">ลบ</Button>
      </template>
    </Dialog>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: () => {},
    },
  },

  data() {
    return {
      showPopup: false,
      bgPrimary: ' background-color : ' + this.data.primaryColor + ';',
      bgSecondary: 'background-color: ' + this.data.secondaryColor + ';',
      starRating: '',
    }
  },

  created() {
    this.starRating = `width:${this.data.star * 26}px`
  },

  methods: {
    showPopupmenu() {
      if (this.showPopup) {
        console.log('false')
        this.showPopup = false
      } else {
        console.log('true')
        this.showPopup = true
      }
    },

    async deletePlanner() {
      try {
        console.log(this.data.planner_id)

        await this.$axios.post(
          'v2/planner/delete',
          {
            planner_id: this.data.planner_id,
          },
          {
            headers: {
              Authorization: this.$auth.strategy.token.get(),
            },
          }
        )

        alert('ลบกิจกรรมสำเร็จ')
        location.reload()
      } catch (error) {
        alert('เกิดข้อผิดพลาด')
        location.reload()
      }
    },

    onClick(type) {
      if (type === 'edit-planner') {
        this.$router.push(`/planners/${this.data.planner_id}/edit`)
        return
      } else if (type === 'see-planner') {
        this.$router.push(`/planners/${this.data.planner_id}`)
      }

      this.$store.dispatch('updateEventAction', {
        type,
        id: this.data.planner_id,
      })
      this.$emit('close')
    },
  },
}
</script>

<style lang="scss" scoped>
.card {
  width: 100%;
  min-height: 330px;
  background-color: #fff;
  border-radius: 20px;
  transition-duration: 300ms;

  .card-header {
    height: 50px;
    opacity: 0.6;
    padding: 13px 20px;
    border-radius: 20px 20px 0px 0px;
    background-color: #fff;
    cursor: pointer;
    span {
      color: #fff;
    }
  }

  .card-center {
    height: 180px;
    opacity: 0.6;
    background-color: #fff;
    cursor: pointer;
  }

  .card-footer {
    opacity: 1;
    padding: 15px 20px 20px 20px;
    p {
      font-size: 20px;
      margin: 0 5px;
    }

    .card-footer-title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .more-btn {
        border-radius: 30px;
        position: relative;
        width: 30px;
        padding: 2px;

        .more-menu {
          position: absolute;
          background: #fff;
          border-radius: 15px;
          padding: 20px 20px 10px 20px;
          height: 110px;
          width: 225px;
          bottom: 60px;
          right: -60px;
          filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.4));

          .editPlanner-btn {
            display: flex;
            justify-content: space-between;
            span {
              color: #807f7f;
              cursor: pointer;
            }
            p {
              color: #807f7f;
              font-size: 18px;
              cursor: pointer;
            }
          }

          .deletePlanner-btn {
            display: flex;
            justify-content: space-between;
            span {
              color: #807f7f;
              cursor: pointer;
            }
            p {
              color: #807f7f;
              font-size: 18px;
              cursor: pointer;
            }
          }

          .editPlanner-btn:hover {
            display: flex;
            justify-content: space-between;
            span {
              color: #09aeae;
            }
            p {
              color: #09aeae;
              font-size: 18px;
            }
          }

          .deletePlanner-btn:hover {
            display: flex;
            justify-content: space-between;
            span {
              color: #d72503;
            }
            p {
              color: #d72503;
              font-size: 18px;
            }
          }
        }

        .more-menu-polygon {
          position: absolute;
          background: #fff;
          height: 35px;
          width: 40px;
          bottom: 30px;
          right: -5px;
          clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
      }

      .more-btn:active {
        transition-duration: 200ms;
        background-color: #bfbfbf;
        border-radius: 20px;
        width: 30px;
        padding: 2px;
      }
    }

    .card-footer-star {
      .card-footer-star-outter {
        position: absolute;
        display: inline-block;
        margin-top: 10px;
        width: 0px;
        white-space: nowrap;
        overflow: hidden;
        .material-icons {
          color: #ffc671;
        }
      }

      .card-footer-star-inner {
        display: inline-block;
        margin-top: 10px;
        .material-icons {
          color: #ffc671;
        }
      }
    }
  }
}

.card:hover .card-header {
  transition-duration: 300ms;
  opacity: 1;
}

.card:hover .card-center {
  transition-duration: 300ms;
  opacity: 1;
}
</style>
