<template>
  <transition name="dialog">
    <div
      v-if="$store.state.dialogType === dialogType"
      ref="dialog"
      class="dialog"
      @click="close"
    >
      <div class="dialog-center">
        <div ref="dialogContent" class="dialog-content">
          <div class="dialog-header">
            <span
              ref="dialogClose"
              class="dialog-close mdi mdi-close"
              style="margin-left: auto"
            ></span>
          </div>
          <div class="dialog-body">
            <slot />
          </div>
          <div class="dialog-buttons">
            <slot name="buttons" />
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  props: {
    dialogType: {
      type: String,
      required: true,
    },
  },

  methods: {
    close(e) {
      try {
        const isCloseButton = this.$refs.dialogClose.contains(e.target)
        if (isCloseButton || !this.$refs.dialogContent.contains(e.target)) {
          this.$store.dispatch('closeDialog')
        }
      } catch {}
    },
  },
}
</script>

<style lang="scss" scoped>
.dialog-enter-active,
.dialog-leave-active {
  transition: opacity 0.3s ease;
}

.dialog-enter,
.dialog-leave-to {
  opacity: 0;
}

.dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden auto;
  z-index: 100;

  .dialog-center {
    position: relative;
    display: flex;
    margin: 40px auto;
    padding: 0 20px;
    width: auto;
    min-height: calc(100% - 40px * 2);
  }

  .dialog-content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    max-width: 600px;
    background-color: white;
    border-radius: 10px;

    > div {
      padding: 10px;
    }

    .dialog-header {
      display: flex;

      .dialog-close {
        font-size: 25px;
        cursor: pointer;
      }
    }

    .dialog-buttons {
      display: flex;
      justify-content: center;
      margin: 20px 0 10px 0;
      gap: 10px;
    }
  }
}
</style>
