<template>
  <nav class="navbar">
    <nuxt-link to="/" class="title">Plan Me</nuxt-link>
    <div
      v-if="$auth.loggedIn"
      ref="userMenu"
      class="user-menu"
      :class="{ active: showMenu }"
      @click="showMenu = !showMenu"
    >
      <span class="mdi mdi-account-heart" style="margin-right: 5px"></span>
      สวัสดี {{ $auth.user.alias }}
    </div>

    <div v-else class="auth-menu">
      <nuxt-link class="login" to="/auth/login">เข้าสู่ระบบ</nuxt-link>
      <nuxt-link class="login" to="/auth/sign-up">สมัครสมาชิก</nuxt-link>
    </div>

    <div ref="dropdown" class="dropdown">
      <div class="dropdown-arrow"></div>
      <div class="dropdown-items">
        <div
          v-for="(item, i) in getMenu"
          :key="i"
          class="dropdown-item"
          :style="{ color: item.icon === 'logout' ? 'red' : 'black' }"
          @click="onMenuClick(item)"
        >
          <span
            style="margin-right: 5px"
            :class="`mdi mdi-${item.icon}`"
          ></span>
          <span>{{ item.label }}</span>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      showMenu: false,
    }
  },

  computed: {
    getMenu() {
      if (this.$auth.loggedIn) {
        if (this.$auth.user.role_id === 1) {
          return [
            { label: 'สถิติ', icon: 'calendar', path: '/admin/statistics_hr' },
            { label: 'ออกจากระบบ', icon: 'logout' },
          ]
        } else {
          return [
            {
              label: 'แก้ไขรหัสผ่าน',
              icon: 'lock',
              path: '/users/edit-password',
            },
            {
              label: 'แก้ไขนามแฝง',
              icon: 'account',
              path: '/users/edit-alias',
            },
            { label: 'ออกจากระบบ', icon: 'logout' },
          ]
        }
      }
      return []
    },
  },

  mounted() {
    document.addEventListener('click', this.clickOutsideDropdown)
  },

  beforeDestroy() {
    document.removeEventListener('click', this.clickOutsideDropdown)
  },

  methods: {
    clickOutsideDropdown(e) {
      const userMenu = this.$refs.userMenu
      const dropdown = this.$refs.dropdown
      if (!userMenu.contains(e.target) && !dropdown.contains(e.target)) {
        this.showMenu = false
      }
    },

    onMenuClick(obj) {
      this.showMenu = false

      if (obj.icon === 'logout') {
        this.$auth.logout()
        this.showMenu = false
      } else if (obj.path) {
        this.$router.push(obj.path)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: $navbar-height;
  background-color: #453982;
  z-index: 9;

  .title {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transform: translate(-50%, -50%);
  }

  .user-menu {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 5px 20px;
    height: #{$navbar-height - 15}px;
    color: black;
    background-color: white;
    border-radius: 1000px;
    cursor: pointer;
    user-select: none;

    &.active + .dropdown {
      opacity: 1;
      visibility: visible;
      transform: translateY(100%);
    }
  }

  .dropdown {
    position: absolute;
    padding: 10px;
    bottom: -20px;
    right: 20px;
    width: 200px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 5px rgb(75, 75, 75);
    opacity: 0;
    visibility: hidden;
    transform: translateY(90%);
    cursor: unset;
    transition: all 0.3s ease;

    .dropdown-arrow {
      position: absolute;
      top: -10px;
      right: 20px;
      width: 20px;
      height: 20px;
      background-color: white;
      transform: rotateZ(45deg);
    }

    .dropdown-items {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .dropdown-item {
        display: flex;
        justify-content: center;
        font-weight: bold;
        cursor: pointer;

        &:not(:first-child) {
          padding: 5px 0 0 0;
          border-top: 1px solid black;
        }
      }
    }
  }

  .auth-menu {
    display: flex;
    gap: 20px;
    margin-left: auto;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        color: orange;
      }

      &.nuxt-link-exact-active {
        color: orange;
        text-decoration: underline;
      }
    }
  }
}
</style>
