<template>
  <div class="layout background">
    <section class="section">
      <h1>แก้ไขกิจกรรมประจำวัน</h1>
      <div class="form">
        <div class="form-header">
          <div class="activityDate">
            <p>
              <span class="mdi mdi-calendar" style="margin-right: 5px"></span>
              {{ $thFormat($store.state.planner.date) }}
              <span class="mdi mdi-calendar" style="margin-left: 5px"></span>
            </p>
          </div>
        </div>

        <div class="form-container">
          <p class="activityName">ชื่อกิจกรรม</p>
          <div class="inline-activity">
            <!-- <input class="input-activity" type="text" /> -->
            <input
              v-model="activityName"
              type="text"
              style="padding-right: 50px"
            />
            <!-- <div class="color-input">
              <input type="color" value="#61B567" />
            </div> -->
            <InputColor
              v-model="color"
              style="position: absolute; right: 10px"
            />
          </div>

          <div class="category">
            <p class="activityName">หมวดหมู่</p>
            <select v-model="category" class="category-input">
              <option v-for="(c, i) in categories" :key="c" :value="i + 1">
                {{ c }}
              </option>
            </select>
          </div>

          <div class="input_time">
            <span class="start_time">
              <p>เวลาเริ่มต้น</p>
              <input v-model="startTime" type="time" />
            </span>

            <span class="end_time">
              <p>เวลาสิ้นสุด</p>
              <input v-model="endTime" type="time" />
            </span>
          </div>

          <div class="description">
            <p>รายละเอียดกิจกรรม</p>
            <textarea
              v-model="description"
              class="description-input"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="score">
        <div :class="{ active: score === 3 }" @click="changeScore(3)">
          <img :src="require('@/assets/images/sad.svg')" />
        </div>
        <div :class="{ active: score === 2 }" @click="changeScore(2)">
          <img :src="require('@/assets/images/neutral.svg')" />
        </div>
        <div :class="{ active: score === 1 }" @click="changeScore(1)">
          <img :src="require('@/assets/images/happy.svg')" />
        </div>
      </div>

      <button class="button shadow" @click="saveActivity">บันทึก</button>
    </section>
  </div>
</template>

<script>
export default {
  fetchOnServer: false,

  data() {
    return {
      activityName: '',
      category: '1',
      color: '#fff',
      startTime: '',
      endTime: '',
      description: '',
      score: 0,
      categories: [
        'ทำงาน',
        'เรียน',
        'ท่องเที่ยว',
        'พักผ่อน',
        'สุขภาพ',
        'งานอดิเรก',
        'งานบ้าน',
        'อาหาร',
        'ความสวยความงาม',
        'พัฒนาตนเอง',
        'อื่นๆ',
      ],
    }
  },

  async fetch() {
    try {
      const { data } = await this.$axios.post(
        '/v2/activity/getById',
        {
          planner_id: parseInt(this.$route.params.planner_id),
          activity_seq: parseInt(this.$route.params.activity_seq),
        },
        { headers: { Authorization: this.$auth.strategy.token.get() } }
      )

      console.log(data)

      const activity = data.activity

      const start = new Date(activity.start_time)
      const end = new Date(activity.end_time)

      const startHours = `0${start.getHours()}`.slice(-2)
      const startMinutes = `0${start.getMinutes()}`.slice(-2)
      const endHours = `0${end.getHours()}`.slice(-2)
      const endMinutes = `0${end.getMinutes()}`.slice(-2)

      const startTime = `${startHours}:${startMinutes}`
      const endTime = `${endHours}:${endMinutes}`

      this.score = activity.satisfaction
      this.category = activity.category_id
      this.activityName = activity.title
      this.color = activity.color
      this.startTime = startTime
      this.endTime = endTime
      this.description = activity.description
    } catch (e) {
      console.log(e)
    }
  },

  methods: {
    async saveActivity() {
      if (
        this.activityName === '' ||
        this.startTime === '' ||
        this.endTime === ''
      ) {
        alert('กรุณากรอก ชื่อ,เวลาเริ่มต้น และ เวลาสิ้นสุด')
      } else {
        const date = this.$store.state.planner.date

        const start = this.startTime.split(':')
        const end = this.endTime.split(':')

        const startDate = this.$date.set(date, {
          hours: start[0],
          minutes: start[1],
        })

        const endDate = this.$date.set(date, {
          hours: end[0],
          minutes: end[1],
        })

        try {
          await this.$axios.post(
            '/v2/activity/edit',
            {
              planner_id: parseInt(this.$route.params.planner_id),
              activity_seq: parseInt(this.$route.params.activity_seq),
              title: this.activityName,
              start_time: this.$formatApi(startDate),
              end_time: this.$formatApi(endDate),
              description: this.description,
              color: this.color,
              category_id: this.category,
              satisfaction: this.score,
            },
            {
              headers: {
                Authorization: this.$auth.strategy.token.get(),
              },
            }
          )
        } catch (e) {
          console.log(e.response)
        }

        this.$router.push(`/planners/${this.$route.params.planner_id}/`)
      }
    },

    changeScore(val) {
      if (val === this.score) {
        this.score = 0
        return
      }

      this.score = val
    },
  },
}
</script>

<style lang="scss" scoped>
.background {
  background-color: #22194d;
}

.section {
  display: grid;
  padding-top: 3%;
  justify-items: center;

  h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
  }

  .form {
    .form-header {
      width: 600px;
      height: 50px;
      background-color: #4f4f4f;
      border-radius: 10px 10px 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .form-container {
      width: 600px;
      background-color: #c996cc;
      border-radius: 0 0 10px 10px;
      padding: 10px 70px 20px 70px;
    }

    .activityName {
      line-height: 1.6;
    }

    p {
      font-size: 16px;
      font-weight: bold;
      color: white;
      margin: 5px 0;
      line-height: 1.8;
    }

    input,
    select {
      padding: 8px 6px;
      width: 100%;
      border: none;
      border-radius: 5px;
    }

    .inline-activity {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;

      .input-activity {
        display: block;
        border-radius: 5px 0 0 5px;
      }
    }

    input[type='color'] {
      width: 50px;
      height: 40px;
      border-radius: 0 5px 5px 0;
      background-color: #4f4f4f;
    }

    .input_time {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .description {
      width: 100%;

      textarea {
        padding: 8px 6px;
        width: 100%;
        min-height: 100px;
        border: none;
        border-radius: 6px;
        resize: vertical;
      }
    }
  }
}

.score {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  align-items: center;
  margin: 30px auto 0 auto;
  gap: 10px;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 5px rgb(122, 122, 122);
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.24, 1.18, 0.59, 1.24);

    &.active {
      border: 1px solid white;
      transform: translateY(5px);
      box-shadow: none;
    }
  }
}

.button {
  margin: 40px;
  background: #0e6fa5;
  padding: 3px 50px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  box-shadow: 0 10px #005889;
}

.button:active {
  background: #0e6fa5;
  box-shadow: 0 5px #005889;
  transform: translateY(5px);
}

.button:hover {
  cursor: pointer;
}

.color-input {
  position: relative;

  input[type='color'] {
    display: none;
  }
}
</style>
