<template>
    <div class="layout">
        <div class="block center">
            <div class="container center">
                <div class="title">ถูกส่งไปเรียบร้อย !</div>
                <div class="text">พวกเราได้ส่งลิงก์ไปยังอีเมลตามที่กรอกแล้ว กรุณาตรวจสอบลิงก์ในอีเมลของคุณ</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    auth: 'guest',
}
</script>

<style lang="scss">
.layout {
    color: white;
}

.block {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 200px;
    background: #4F3E80;
    border: 10px solid #332263;
    border-radius: 12px;
}

.center {
    margin: auto;
}

.container {
    width: 300px;
    height: 100px;
    align-content: center;
    text-align: center;
    padding: auto;
}

.text {
    font-size: 16px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
</style>