<template>
  <div class="layout justify-center items-center">
    <div class="block center">
      <div class="container center">
        <img :src="require('@/assets/images/lock-reset.png')" alt="lock" />
        <div class="title">มีปัญหาในการเข้าใช้งานใช่ไหม</div>
        <div class="text">
          กรุณากรอกอีเมลของคุณให้เรา เพื่อส่งลิงก์ให้เข้าใช้งานได้อีกครั้ง
        </div>

        <div class="email">
          <div>อีเมล</div>
          <input v-model="email" type="text" />
        </div>

        <div class="button center">
          <Button color="orange" @click="send">ส่งลิงก์</Button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  auth: 'guest',

  data() {
    return {
      email: '',
    }
  },

  methods: {
    async send() {
      if (this.email === '') {
        alert('กรุณากรอกอีเมล')
      } else {
        try {
          await this.$axios.post('auth/send-reset-password', {
            email: this.email,
          })

          this.$router.push('/auth/login')
        } catch (e) {
          console.log(e.response)
          alert('เกิดข้อผิดพลาด')
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.layout {
  color: white;
}

.button {
  width: 150px;
  height: auto;
}

.block {
  display: flex;
  justify-content: center;
  width: 600px;
  height: 400px;
  background: #4f3e80;
  border: 10px solid #332263;
  border-radius: 12px;
}

.center {
  margin: auto;
}

.container {
  width: 300px;
  height: 300px;
  align-content: center;
  text-align: center;
  padding: auto;
}

.email {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 300px;
  text-align: left;

  input {
    margin-top: 5px;
    padding: 8px 6px;
    width: 100%;
    border: none;
    border-radius: 5px;
  }
}

img {
  width: 72px;
  height: 72px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text {
  font-size: 16px;
  margin: 3px 0 5px 0;
}

.title {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}
</style>
