<template>
  <div class="layout">
    <div class="login-wrapper">
      <h1>ลงชื่อเข้าใช้งาน</h1>
      <div class="form-container">
        <div class="email">
          <p>อีเมล</p>
          <input v-model="email" type="text" />
        </div>
        <div class="password">
          <p>รหัสผ่าน</p>
          <input v-model="password" type="password" />
        </div>

        <div class="forgot-password">
          ลืมรหัสผ่าน? <nuxt-link to="/auth/forget">ขอรหัสผ่านใหม่</nuxt-link>
        </div>
      </div>

      <button class="button shadow" @click="login">เข้าสู่ระบบ</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      password: '',
    }
  },

  methods: {
    async login() {
      if (this.email === '' || this.password === '') {
        alert('กรุณากรอกอีเมลเเละรหัสผ่าน')
      } else {
        try {
          await this.$auth.loginWith('local', {
            data: {
              email: this.email,
              password: this.password,
            },
          })
          // console.log(response.data.user_id)
        } catch (e) {
          console.log(e.response)
          alert('อีเมลหรือรหัสผ่านไม่ถูกต้อง')
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.layout {
  background-size: cover;
  background-color: #22194d;
  width: 100%;
}

.login-wrapper {
  display: grid;
  padding-top: 5%;
  justify-items: center;

  h1 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .form-container {
    width: 600px;
    background-color: #4f3e80;
    border: 10px solid #332263;
    border-radius: 10px;
    padding: 20px 90px 40px 90px;

    p {
      font-size: 16px;
      color: #fff;
      margin: 5px 0;
    }

    input {
      width: 100%;
      border: none;
      padding: 8px 6px;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    .forgot-password {
      margin-top: 20px;
      color: white;

      a {
        color: rgb(193, 193, 202);
      }
    }
  }
}

.button {
  margin: 40px;
  background: #0e6fa5;
  padding: 3px 15px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  color: white;
  box-shadow: 0 10px #005889;
}

.button:active {
  background: #0e6fa5;
  box-shadow: 0 5px #005889;
  transform: translateY(5px);
}

.button:hover {
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  img {
    position: absolute;
    bottom: 0;
    width: 30%;
  }
}
</style>
