<template>
  <div class="layout background">
    <section class="section">
      <h1>สมัครเพื่อเข้าร่วมใช้งาน</h1>
      <div class="form-container">
        <div class="alias">
          <p>นามแฝง</p>
          <input v-model="alias" type="text" />
        </div>
        <div class="email">
          <p>อีเมล</p>
          <input v-model="email" type="text" />
        </div>
        <div class="password">
          <p>รหัสผ่าน</p>
          <input v-model="password" type="password" />
        </div>
        <div class="re-password">
          <p>ยืนยันรหัส</p>
          <input v-model="confirmPassword" type="password" />
        </div>
      </div>
      <button class="button shadow" @click="signup">สร้างบัญชี</button>
    </section>
  </div>
</template>

<script>
export default {
  auth: 'guest',

  data() {
    return {
      alias: '',
      email: '',
      password: '',
      confirmPassword: '',
    }
  },

  methods: {
    async signup() {
      if (
        this.alias === '' ||
        this.email === '' ||
        this.password === '' ||
        this.confirmPassword === ''
      ) {
        alert('กรุณากรอกข้อมูลให้ครบ')
      } else if (this.password.trim() !== this.confirmPassword.trim()) {
        alert('ยืนยันรหัสผ่านไม่ถูกต้อง')
      } else {
        try {
          await this.$axios.post('auth/sign-up', {
            alias: this.alias,
            email: this.email,
            password: this.password,
          })
          this.$router.push('/auth/login')
        } catch (e) {
          console.log(e.response)
          alert('เกิดข้อผิดพลาด')
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.background {
  position: relative;
  background-size: cover;
  background-color: #22194d;
  width: 100%;
}

.section {
  display: grid;
  padding-top: 5%;
  justify-items: center;

  h1 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .form-container {
    width: 600px;
    height: 445px;
    background-color: #4f3e80;
    border: 10px solid #332263;
    border-radius: 10px;
    padding: 20px 90px 40px 90px;

    p {
      font-size: 16px;
      color: #fff;
      margin: 5px 0;
    }

    input {
      width: 100%;
      border: none;
      padding: 8px 6px;
      border-radius: 5px;
      margin-bottom: 10px;
    }
  }
}

.button {
  margin: 40px;
  background: #0e6fa5;
  padding: 3px 15px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  color: white;
  box-shadow: 0 10px #005889;
}

.button:active {
  background: #0e6fa5;
  box-shadow: 0 5px #005889;
  transform: translateY(5px);
}

.button:hover {
  cursor: pointer;
}
</style>
