<template>
  <div class="layout justify-center items-center">
    <div class="block center">
      <div class="container center">
        <img :src="require('@/assets/images/alien.png')" alt="alien" />
        <div class="title">ต้องการเปลี่ยนนามแฝงใช่ไหม ?</div>
        <div class="text">กรุณากรอกนามแฝงใหม่ของคุณ</div>

        <div class="alias">
          <div>นามแฝงใหม่</div>
          <input v-model="alias" type="text" />
        </div>

        <div class="button center" style="margin-bottom: 10px">
          <Button color="#81C784" @click="submit">ยืนยัน</Button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      alias: '',
    }
  },

  methods: {
    async submit() {
      if (this.alias === '') {
        alert('กรุณากรอกนามแฝง')
      } else {
        try {
          await this.$axios.post(
            'v2/user/editAlias',
            {
              alias: this.alias,
            },
            {
              headers: {
                Authorization: this.$auth.strategy.token.get(),
              },
            }
          )

          location.reload()
        } catch (e) {
          console.log(e.response)
          alert('เกิดข้อผิดพลาด')
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.layout {
  color: white;
}

.button {
  width: 150px;
  height: auto;
}

.block {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 600px;
  background: #4f3e80;
  border: 10px solid #332263;
  border-radius: 12px;
}

.center {
  margin: auto;
}

.container {
  width: 300px;
  align-content: center;
  text-align: center;
  padding: auto;
}

.alias {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 300px;
  text-align: left;

  input {
    margin-top: 5px;
    padding: 8px 6px;
    width: 100%;
    border: none;
    border-radius: 5px;
  }
}

img {
  width: 96px;
  height: 96px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text {
  font-size: 16px;
  margin: 3px 0 5px 0;
}

.title {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}
</style>
