<template>
  <div class="layout justify-center items-center">
    <div class="block center">
      <div class="container center">
        <img :src="require('@/assets/images/key-variant.png')" alt="key" />
        <div class="title">ต้องการเปลี่ยนรหัสผ่านใช่ไหม ?</div>

        <div class="form-wrapper">
          <div class="old-password">
            <div>รหัสผ่านเก่า</div>
            <input v-model="oldPassword" type="password" />
          </div>

          <div class="new-password">
            <div>รหัสผ่านใหม่</div>
            <input v-model="newPassword" type="password" />
          </div>

          <div class="confirm-password">
            <div>ยืนยันรหัสผ่านใหม่</div>
            <input v-model="confirmPassword" type="password" />
          </div>
        </div>

        <div class="button center">
          <Button color="#EF9A9A" @click="submit">ยืนยัน</Button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      oldPassword: '',
      newPassword: '',
      confirmPassword: '',
    }
  },

  methods: {
    async submit() {
      if (
        this.oldPassword === '' ||
        this.newPassword === '' ||
        this.confirmPassword === ''
      ) {
        alert('กรุณากรอกข้อมูลให้ครบ')
      } else if (this.newPassword !== this.confirmPassword) {
        alert('ยืนยันรหัสผ่านไม่ถูกต้อง')
      } else {
        try {
          await this.$axios.post(
            'v2/user/editPassword',
            {
              old_password: this.oldPassword,
              new_password: this.newPassword,
            },
            {
              headers: {
                Authorization: this.$auth.strategy.token.get(),
              },
            }
          )

          location.reload()
        } catch (e) {
          console.log(e.response)
          alert('เกิดข้อผิดพลาด')
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.layout {
  color: white;
}

.block {
  width: 650px;
  background: #4f3e80;
  border: 10px solid #332263;
  border-radius: 12px;

  .center {
    margin: auto;
  }

  .container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 300px;
    height: 480px;
    align-content: center;
    text-align: center;
    padding: auto;

    img {
      width: 96px;
      height: 96px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .text {
      font-size: 16px;
      margin: 3px 0 5px 0;
    }

    .title {
      font-size: 20px;
      font-weight: 500;
      margin-top: 10px;
    }

    .form-wrapper {
      input {
        margin-top: 5px;
        padding: 8px 6px;
        width: 100%;
        border: none;
        border-radius: 5px;
      }

      .old-password,
      .new-password,
      .confirm-password {
        margin-top: 10px;
        width: 100%;
        max-width: 300px;
        text-align: left;
      }
    }

    .button {
      width: 150px;
      height: auto;
    }
  }
}
</style>
