* {
  box-sizing: border-box !important;
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

body {
  margin: 0;
  background-color: #22194d;
  overflow: hidden auto;
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: $layout-height;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.row {
  flex-direction: row;
}

.flex-grow-1 {
  flex-grow: 1;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}
