<template>
  <div class="layout background">
    <section class="section">
      <h1>แก้ไขตารางประจำวัน</h1>
      <div class="form-container">
        <div class="date">
          <p>วันที่</p>
          <input v-model="date" type="date" :min="min" />
        </div>
        <div style="margin-top: 8px">
          <p>รายละเอียด</p>
          <textarea v-model="description" class="description"></textarea>
        </div>
      </div>

      <button class="button shadow" @click="save">
        <span class="mdi mdi-pencil"></span>&nbsp;แก้ไข
      </button>
    </section>
  </div>
</template>

<script>
export default {
  fetchOnServer: false,

  data() {
    return {
      min: this.$date.format(new Date(), 'yyyy-MM-dd'),
      date: '',
      description: '',
    }
  },

  async fetch() {
    try {
      const { data } = await this.$axios.post(
        '/v2/planner/getById',
        {
          planner_id: parseInt(this.$route.params.planner_id),
        },
        {
          headers: {
            Authorization: this.$auth.strategy.token.get(),
          },
        }
      )

      const planner = data.planner
      const plannerDate = new Date(planner.date)
      const dateString = this.$date.format(plannerDate, 'yyyy-MM-dd')

      this.date = dateString
      this.description = planner.description
    } catch {}
  },

  methods: {
    async save() {
      if (this.date === '') {
        alert('กรุณากรอกวันที่')
      } else {
        try {
          const date = this.$date.startOfDay(new Date(this.date))

          await this.$axios.post(
            '/v2/planner/edit',
            {
              planner_id: parseInt(this.$route.params.planner_id),
              new_date: this.$formatApi(date),
              description: this.description,
            },
            {
              headers: {
                Authorization: this.$auth.strategy.token.get(),
              },
            }
          )

          await this.$store.dispatch(
            'fetchPlanner',
            parseInt(this.$route.params.planner_id)
          )
        } catch (e) {
          console.log(e.response)
          alert('เกิดข้อผิดพลาด')
        }

        this.$router.push(`/planners/${this.$route.params.planner_id}`)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.background {
  background-color: #22194d;
}

.section {
  display: grid;
  padding-top: 3%;
  justify-items: center;

  h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
  }

  .form-container {
    width: 100%;
    max-width: 600px;
    background-color: #fac980;
    border-radius: 10px;
    padding: 10px 70px 20px 70px;

    p {
      font-size: 16px;
      font-weight: bold;
      color: white;
      margin: 5px 0;
    }

    input {
      width: 100%;
      padding: 8px 6px;
      border: none;
      border-radius: 5px;
    }

    .description {
      width: 100%;
      min-height: 150px;
      padding: 8px 6px;
      border: none;
      border-radius: 5px;
      resize: vertical;
    }
  }
}

.button {
  margin: 40px;
  background: #0e6fa5;
  padding: 3px 50px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  box-shadow: 0 10px #005889;
}

.button:active {
  background: #0e6fa5;
  box-shadow: 0 5px #005889;
  transform: translateY(5px);
}

.button:hover {
  cursor: pointer;
}
</style>
