<template>
  <div class="layout">
    <div class="header">
      <div>สวัสดี, วัน{{ formatPlannerWeekday }}</div>
      <div>
        วันที่
        {{ formatPlannerDate }}
      </div>
      <div style="font-style: italic">
        ~{{ $store.state.planner.description }}~
      </div>
      <!-- <div v-if="!$store.state.planner.finished">
        มาเริ่มเขียนแพลนเนอร์ของวันนี้กันเถอะ
      </div> -->
      <img :src="require('@/assets/images/moon.png')" alt="moon" />
    </div>

    <div class="planner">
      <div v-for="i in 24" :key="i" class="hour-block">
        <div class="hour-start">
          <span class="hour-label">{{ `0${i - 1}`.substr(-2) }}:00</span>
          <div class="hour-line"></div>
        </div>
      </div>

      <div class="events">
        <PlannerEvent
          v-for="ac in activities"
          :key="ac.seq"
          :data="ac"
          @show="(e) => showDialog(e)"
        />
      </div>
    </div>

    <div
      v-if="!$store.state.planner.finished"
      ref="moreMenu"
      class="more-menu"
      :class="{ active: moreActive }"
    >
      <button class="more-button" @click="moreActive = !moreActive">...</button>
      <div class="more-items">
        <button
          class="more-item"
          @click="
            $router.push(
              `/planners/${$route.params.planner_id}/activities/create`
            )
          "
        >
          <span class="mdi mdi-plus"></span>
        </button>
        <button
          class="more-item"
          @click="$router.push(`/planners/${$route.params.planner_id}/edit`)"
        >
          <span class="mdi mdi-pencil"></span>
        </button>
        <button class="more-item" @click="onMoreItemClick(2)">
          <span class="mdi mdi-content-save"></span>
        </button>
      </div>
    </div>

    <Dialog dialog-type="delete-event">
      <div class="flex column">
        <h1 class="text-center m-0" style="margin-bottom: 10px; color: #e08383">
          ลบกิจกรรม
        </h1>
        <p class="text-center m-0">
          แน่ใจหรือไม่ว่าต้องการลบกิจกรรมของวันที่
          <span style="color: #ff8383; font-weight: bold">{{
            $date.format($store.state.planner.date, 'dd.MM.yyyy')
          }}</span>
        </p>
      </div>
      <template #buttons>
        <Button color="#453982" block @click="$store.dispatch('closeDialog')"
          >ยกเลิก</Button
        >
        <Button color="red" block @click="deleteActivity">ลบ</Button>
      </template>
    </Dialog>

    <Dialog dialog-type="rate-planner">
      <h1 class="text-center m-0" style="margin-bottom: 10px; color: #e08383">
        จบวันแล้วนะ
      </h1>
      <div class="text-center" style="margin-bottom: 10px">
        เมื่อกดยืนยันแล้วจะไม่สามารถย้อนกลับได้
      </div>
      <!-- <div class="stars">
        <span
          v-for="i in 5"
          :key="i"
          class="star mdi mdi-star"
          :class="{ active: rate >= i }"
          @click="rate = i"
        ></span>
      </div> -->
      <template #buttons>
        <Button color="#453982" @click="rateYourself">ยืนยัน</Button>
      </template>
    </Dialog>

    <Dialog dialog-type="show-activity">
      <h1 class="text-center m-0" style="margin-bottom: 10px; color: #e08383">
        รายละเอียดกิจกรรม
      </h1>

      <div class="text-center" style="margin-bottom: 10px">
        ชื่อ : <b>{{ activity.title }}</b>
      </div>

      <div
        v-if="activity.title"
        class="text-center"
        style="margin-bottom: 10px"
      >
        เวลา :
        <b
          >{{ $date.format(activity.start_time, 'HH:mm') }} -
          {{ $date.format(activity.end_time, 'HH:mm') }}</b
        >
      </div>

      <div class="text-center" style="margin-bottom: 10px">
        รายละเอียด : <b>{{ activity.description }}</b>
      </div>

      <div class="text-center">
        ประเภท : <b>{{ activity.category }}</b>
      </div>
    </Dialog>
  </div>
</template>

<script>
export default {
  fetchOnServer: false,

  data() {
    return {
      moreActive: false,
      rate: 1,
      plannerDate: this.$store.state.planner.date,
      activities: [],
      activity: {},

      now: this.$date.startOfToday().getTime(),
    }
  },

  async fetch() {
    const { data } = await this.$axios.post(
      'v2/activity/getAllByPlanner',
      {
        planner_id: parseInt(this.$route.params.planner_id),
      },
      {
        headers: {
          Authorization: this.$auth.strategy.token.get(),
        },
      }
    )

    this.activities = data.activity.map((e) => {
      e.start_time = new Date(e.start_time)
      e.end_time = new Date(e.end_time)

      return e
    })

    this.activities.sort(
      (a, b) => a.start_time.getTime() - b.start_time.getTime()
    )

    for (let i = 0; i < this.activities.length; i++) {
      const activity = this.activities[i]

      const sh = activity.start_time.getHours()
      const sm = activity.start_time.getMinutes()
      const eh = activity.end_time.getHours()
      const em = activity.end_time.getMinutes()

      const start = 20 + 100 * sh + (sm / 60) * 100
      const end = 20 + 100 * eh + (em / 60) * 100

      let height = end - start
      if (height < 70) height = 70

      activity.start = start
      activity.height = height

      const overlapWithPrevious =
        i > 0 &&
        this.activities[i - 1].end_time.getTime() >
          activity.start_time.getTime()

      if (overlapWithPrevious) {
        activity.left = this.activities[i - 1].left + 40
      } else {
        activity.left = 0
      }
    }
  },

  computed: {
    formatPlannerDate() {
      const date = this.plannerDate.getDate()
      const month = this.$months[this.plannerDate.getMonth()]
      const year = this.plannerDate.getFullYear() + 543
      return `${date} ${month} ${year}`
    },

    formatPlannerWeekday() {
      return this.$weekdays[this.plannerDate.getDay()]
    },
  },

  mounted() {
    document.addEventListener('click', this.onClick)
  },

  beforeDestroy() {
    document.removeEventListener('click', this.onClick)
  },

  methods: {
    onClick(e) {
      if (this.$store.state.planner.finished) return
      if (!this.$refs.moreMenu.contains(e.target)) {
        this.moreActive = false
      }
    },

    onMoreItemClick(type) {
      if (type === 2) {
        this.$store.dispatch('openDialog', 'rate-planner')
      }
      this.moreActive = false
    },

    showDialog(activity) {
      this.activity = activity
      this.$store.dispatch('openDialog', 'show-activity')
    },

    async deleteActivity() {
      const seq = this.$store.state.eventActionId
      const plannerId = parseInt(this.$route.params.planner_id)

      try {
        await this.$axios.post(
          '/v2/activity/delete',
          {
            planner_id: plannerId,
            activity_seq: seq,
          },
          {
            headers: {
              Authorization: this.$auth.strategy.token.get(),
            },
          }
        )

        location.reload()
      } catch {}
    },

    async rateYourself() {
      try {
        await this.$axios.post(
          '/v2/planner/finish',
          {
            planner_id: parseInt(this.$route.params.planner_id),
            // satisfaction: this.rate,
          },
          {
            headers: {
              Authorization: this.$auth.strategy.token.get(),
            },
          }
        )

        this.$store.dispatch('closeDialog')
        await this.$store.dispatch(
          'fetchPlanner',
          parseInt(this.$route.params.planner_id)
        )
      } catch {}
    },
  },
}
</script>

<style lang="scss" scoped>
.layout {
  align-items: center;
  margin: auto;
  padding: 20px;
  width: 100%;
  max-width: 800px;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 20px 50px;
  width: 100%;
  color: white;
  background-color: #1c1b20;
  border-radius: 10px;
  box-shadow: 0 10px #bbc2ea;
  overflow: hidden;
  pointer-events: none;

  div:first-child {
    font-size: 20px;
  }

  div:first-child ~ div {
    margin-top: 10px;
    margin-left: 20px;
  }

  img {
    position: absolute;
    right: 50px;
    bottom: -80px;
    width: 180px;
    height: auto;
  }
}

.planner {
  flex-grow: 1;
  position: relative;
  padding: 20px 20px 0 20px;
  width: 100%;
  background-color: #bbc2ea;
  border-radius: 10px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 999px;
  }

  .hour-block {
    position: relative;
    height: 100px;

    .hour-start {
      display: flex;

      .hour-label {
        margin-right: $planner-label-margin;
        width: $planner-label-width;
        text-align: right;
        font-weight: bold;
        transform: translateY(-50%);
      }

      .hour-line {
        flex-grow: 1;
        height: 1px;
        background-color: rgb(150, 150, 150);
      }
    }
  }
}

.more-menu {
  position: fixed;
  bottom: 30px;
  right: 30px;

  .more-button {
    position: relative;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: #fd8825;
    box-shadow: 0 5px #cf6c1b;
    outline: none;
    border: none;
    cursor: pointer;
    user-select: none;
    z-index: 2;

    &:active {
      box-shadow: 0 2px #cf6c1b;
      transform: translateY(3px);
    }
  }

  .more-items {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    z-index: 1;
  }

  .more-item {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: #fd8825;
    border-radius: 100%;
    outline: none;
    border: none;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
  }

  @for $i from 1 through 3 {
    .more-item:nth-child(#{$i}) {
      transition: all #{$i / 3}s cubic-bezier(0.59, 0.45, 0.35, 1.57);
    }
  }

  &.active {
    .more-item {
      opacity: 1;
      visibility: visible;
    }
    .more-item:nth-child(1) {
      top: -80px;
      right: 0;
    }
    .more-item:nth-child(2) {
      top: -60px;
      left: -60px;
    }
    .more-item:nth-child(3) {
      bottom: 0px;
      left: -80px;
    }
  }
}

.stars {
  display: flex;
  justify-content: center;
  gap: 20px;

  .star {
    font-size: 40px;
    cursor: pointer;
    transform: scale(0.8) rotateZ(0);
    transition: all 0.3s cubic-bezier(0.39, 1.02, 0.64, 3);

    &.active {
      color: #ff8282;
      transform: scale(1) rotateZ(-10deg);
    }
  }
}
</style>
