<template>
  <div class="layout justify-center">
    <div class="title">แพลนเนอร์ทั้งหมด</div>
    <div class="container center">
      <div class="block center">
        <img :src="require('@/assets/images/note.png')" alt="" />
        <div class="text" style="text-align: center">
          กดปุ่มเพื่อสร้างตารางเวลา
        </div>
        <Button color="#D07324" @click="createPlanner()">
          <span
            class="star mdi mdi-plus-circle"
            style="margin-right: 4px"
          ></span>
          <span>สร้าง</span>
        </Button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    createPlanner() {
      this.$router.push('/planners/create')
    },
  },
}
</script>

<style lang="scss" scoped>
.layout {
  color: white;
}

img {
  width: 220px;
  height: auto;
}

.block {
  width: 250px;
  height: 250px;
}

.center {
  margin: auto;
}

.container {
  width: 95%;
  height: 550px;
  background: #332263;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

.text {
  font-size: 18px;
  margin: 10px 0 10px 0;
}

.title {
  font-size: 24px;
  margin: 30px 50px 0 50px;
}
</style>
