<template>
  <div class="layout justify-center items-center">
    <div class="welcome-text">ยินดีต้อนรับเข้าสู่ Plan Me</div>
    <div class="description-text">เริ่มต้นวางแผนในทุก ๆ วัน ไปด้วยกัน</div>
    <button class="join-button" @click="createUser()">กดเพื่อเข้าร่วม</button>
  </div>
</template>

<script>
export default {
  auth: 'guest',

  methods: {
    createUser() {
      this.$router.push('/auth/sign-up')
    },
  },
}
</script>

<style lang="scss" scoped>
.layout {
  padding: 50px 0;
  color: white;
  text-align: center;
  background: url('https://i.imgur.com/ZuYPap9.png');
  background-size: cover;
}

.welcome-text {
  font-size: 36px;
  font-weight: 500;
}

.description-text {
  font-size: 18px;
}

.join-button {
  margin: 40px;
  background: #0e6fa5;
  padding: 3px 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  color: white;
  box-shadow: 0 10px #005889;
  cursor: pointer;
}

.join-button:active {
  box-shadow: 0 5px #005889;
  transform: translateY(5px);
}
</style>
