<template>
  <div class="layout justify-center">
    <div class="reset-wrapper">
      <div class="title">ตั้งรหัสผ่านของคุณใหม่</div>

      <div class="block center">
        <div class="container center">
          <div class="password">
            <div>รหัสผ่านใหม่</div>
            <input v-model="password" type="password" />
          </div>

          <div class="confirm">
            <div>ยืนยันรหัสผ่านใหม่</div>
            <input v-model="confirm" type="password" />
          </div>
        </div>
      </div>

      <div class="button">
        <Button color="orange" @click="reset">ยืนยัน</Button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  auth: 'guest',

  data() {
    return {
      password: '',
      confirm: '',
    }
  },

  methods: {
    async reset() {
      if (this.password !== this.confirm) return

      try {
        await this.$axios.post('auth/reset-password', {
          password: this.password,
          token: this.$route.params.reset_token,
        })

        this.$router.push('/auth/login')
      } catch (e) {
        console.log(e.response)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.layout {
  color: white;
}

.reset-wrapper {
  display: grid;
  text-align: center;

  .block {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 300px;
    background: #4f3e80;
    border: 10px solid #332263;
    border-radius: 12px;
  }

  .button {
    width: 150px;
    height: auto;
    margin: 30px auto 0 auto;
  }

  .center {
    margin: auto;
  }

  .container {
    width: 400px;
    height: auto;
    align-content: center;
    text-align: left;
    padding: auto;

    input {
      margin-top: 5px;
      width: 100%;
      padding: 8px 6px;
      border-radius: 5px;
      margin-bottom: 30px;
    }
  }

  .title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}
</style>
